{% extends 'base.html' %}

{% block content %}

<h1>User Signup</h1>

<form  action="/welcome" name='user_info_form' method="POST",>
    <label for='user-name'>
        Create your username:
        <input id='user-name' type='text' name='user-name'>
        <p class='error'>{{user_name_error}}</p>

    </label>

    <label for='create-pw'>
        Create your password:
        <input id='create-pw' type='password' name='create-pw'>
        <p class='error'>{{create_pw_error}}</p>
    </label>

    <label for='confirm-pw'>
        Confirm your password:
        <input id='confirm-pw' type='password' name='confirm-pw'>
        <p class='error'>{{confirm_pw_error}}</p>
    </label>

    <label for='enter-email'>
        Enter your Email address:
        <input id='enter-email' type='text' name='enter-email'>
        <p class='error'>{{enter_email_error}}</p>
    </label>

    <input type='submit' value='Submit'>
</form>



{% endblock %}